body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 50px;
    position: relative;
    padding-bottom: 23px;
    position: fixed;
    background-color: white;
    z-index: 1;
}
header div{
    float: left;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    margin-top: 20px;
    margin-left: 110px;
}
header nav{
    position: absolute;
    top: 0;
    right: 0;
}
header .nav ul{
    list-style: none;
    margin-top: 17px;
    margin-left: 300px;
}
header .nav ul li{
    float: left;
    padding: 10px;
}
header .nav ul li a{
    text-decoration: none;
    color: rgb(41, 41, 41);
    text-transform: uppercase;
    font-size: 15px;
}
header .nav ul li a:hover{
    color: #7f97ff;
}

.checkbtn{
    display: noe;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.9);
    float: right;
    line-height: 80px;
    margin-right: ;
}
#check{
    display: none;
}



section{
    background-color: #f9f9ff;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.half1 .half2{

}
.half1{
    margin-left: 125px;
    margin-bottom: 170px;
}
.half2{
    margin-left: 200px;
    padding-right: -150px;
    margin-bottom: 50px;
}
.half2 img{
    max-width: 500px;
    height: 500px;
    margin-right: 190px;
}
.half1 h1{
    font-size: 52px;
    margin-top: 30px;
}
.half1 h6{
    color: rgba(78, 78, 78, 0.7);
    font-size: 16px;
    letter-spacing: 2px;
}
.half1 p{
    color: rgba(78, 78, 78, 0.7);
    padding-top: -35px;
    font-size: 14px;
    letter-spacing: 1px;
}
.half1 input{
    padding: 8px 20px;
    background-color: #8292ff;
    outline: none;
    color: white;
    border: 1px solid #8393ff;
    font-size: 15px;
    padding: 14px 30px;
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}
.half1 input:hover{
    box-shadow: 5px 10px 30px rgba(130, 147, 255, 8.5);
    transform: all 0.5s ease-in 0.1s;
}
.ras{
    background-color: white;
}

section .det1{
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section .det1 img{
    width: 90%;
    height: 70%;
}
section .det1{
    padding: 150px;
    margin-bottom: 20%;
}
section .det2{
    margin-bottom: 10%;
}
section .det2 h1{
    font-weight: normal;
    font-size: 35px;
    font-weight: bold;
    font-size: 40px;
}
section .det2 h3{
    color: rgba(0, 0, 0, 0.7);
}
section .det2 p{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.6);
    width: 80%;
}
.det2 input{
    padding: 8px 20px;
    background-color: #8292ff;
    outline: none;
    color: white;
    border: 1px solid #8393ff;
    font-size: 15px;
    padding: 14px 30px;
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}
.det2 input:hover{
    box-shadow: 5px 10px 30px rgba(130, 147, 255, 8.5);
    transform: all 0.5s ease-in 0.1s;
}
.ras1{
    width: 100%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background-color: white;
    margin-top: -370px;
}
section .det3 h1{
    font-size: 40px;
    line-height: 10px;
}
section .det3 p{
    width: 670px;
    color: rgba(78, 78, 78, 0.7);
    margin: 0 auto;
    margin-bottom: 10px;
}
.service{
    width: 100%;
    background-color: white;
    margin-top: -810px;
    margin-left: 250px;
}
.ser1, .ser2{
    width: 80%;
    overflow: hidden;
}
.service .ser1 .i .h1 .p{

}
.ser2{
    padding-top: 30px;
}
.ser1 div, .ser2 div{
    width: 32%;
    float: left;
    padding: 5px;
    margin: 0 auto;
}
.service i{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
}
.service h1{
    color: #8393ff;
}
.service p{
    color: #d3592c;
}
.ser1 div:hover{
    background-color: #8393ff;
    color: white;
    border-radius: 5px;
}
.ser2 div:hover{
    background-color: #8393ff;
    border-radius: 5px;
}
.ser1 div:hover i{
    color: white;
}
.ser1 div:hover h1{
    color: white;
}
.ser1 div:hover p{
    color: white;
}
.ser2 div:hover{
    background-color: #8393ff;
}
.ser2 div:hover i{
    color: white;
}
.ser2 div:hover h1{
    color: white;
}
.ser2 div:hover p{
    color: white;
}
.section4{
    width: 100%;
    height: 300px;
    background-color: #8393ff;
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    margin-top: -350px;
}
.section4 div{
    float: left;
    height: 20%;
    margin: 0 auto;
    position: relative;
   
}
.section4 h1{
    text-align: center;
    color: white;
    font-size: 38px;
}
.section4 p{
    text-align: center;
    color: white;
}
.section5{
    width: 100%;
    box-sizing: border-box;
    margin-top: -50px;
}
.section5 h1{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}
.section5 p{
    color: rgba(78, 78, 78, 0.7);
    margin-top: -20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
}
.section6 .imgg{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}
.section6 .imgg div{
    width: 340px;
    height: 339px;
    padding-bottom: 40px;
    text-align: center;
}
.section6 .imgg h1{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
}
.section6 .imgg p{
    color: rgba(0, 0, 0, 0.7);
    line-height: 0;
}
.section6 figure{
    background-color: linear-gradient(40deg, #8490ff 40%, #52bdfc 100%);
    width: 340px;
    height:339px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 3%;

}
.section6 figure:hover img{
    opacity: 0.3;
    transition: all .3s ease-in-out;
}
.section7{
    width: 100%;
    height: 700px;
}
.section7 .text4{
    text-align: center;
    justify-content: center;
    margin-left: 400px;
    padding: 2% 0;
}
.section7 .text4 h1{
    font-size: 40px;
    line-height: 0;
    padding-top: 15px;
}
.section7 .text4 p{
    color: rgba(0, 0, 0, 0.7);
}
.section8{
    width: 100%;
    height: 700px;
    margin-top: -250px;
}
.section8 .card{
    width: 75%;
    height: auto;
    margin: 0 auto;
}
.section8 .card{
    width: 300px;
    height: 550px;
    background-color: rgb(249, 249, 255);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0).1;
}
.section8 .card h1{
    font-size: 50px;
    padding-top: 8px;
}
.section8 .card input{
    outline: none;
    background-color: #8292ff;
    color: white;
    font-size: 25px;
    padding: 6px 60px;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
}
.section8 .card1{
    width: 300px;
    height: 550px;
    background-color: rgb(249, 249, 255);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0).1;
    margin-right: 130px;
}
.section8 .card1 h1{
    font-size: 50px;
    padding-top: 8px;
}
.section8 .card1 input{
    outline: none;
    background-color: #8292ff;
    color: white;
    font-size: 25px;
    padding: 6px 60px;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
}
.section8 .card2{
    width: 300px;
    height: 550px;
    background-color: rgb(249, 249, 255);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0).1;
    margin-right: 100px;
}
.section8 .card2 h1{
    font-size: 50px;
    padding-top: 8px;
}
.section8 .card2 input{
    outline: none;
    background-color: #8292ff;
    color: white;
    font-size: 25px;
    padding: 6px 60px;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
}
.section8 .card:hover{
    background-color: #8393ff;
    color: white;
    transition: all 0.25s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(130, 147, 255, 0.5);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
}
.section8 .card:hover input{
    color: rgba(0, 0, 0, 0.9);
    background-color: white;
}
.section8 .card1:hover{
    background-color: #8393ff;
    color: white;
    transition: all 0.25s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(130, 147, 255, 0.5);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
}
.section8 .card1:hover input{
    color: rgba(0, 0, 0, 0.9);
    background-color: white;
}
.section8 .card2:hover{
    background-color: #8393ff;
    color: white;
    transition: all 0.25s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(130, 147, 255, 0.5);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
}
.section8 .card2:hover input{
    color: rgba(0, 0, 0, 0.9);
    background-color: white;
}
footer{
    background-color: rgb(4, 9, 30);
    width: 100%;
    height: 400px;
    position: absolute;
    color: white;
    margin-top: 200px;
}
footer .foot{
    width: 85%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 120px;
}
footer .foot .foot1 p{
    color: rgba(255, 255, 255, 0.5);
}
footer .foot .foot1 input{
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px 150px 10px 10px;
}
footer .foot .foot1 button{
    font-size: 18px;
    color: white;
    background-color: #8393ff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
}
footer .foot .foot1 i{
    font-size: 15px;
    cursor: pointer;
    padding: 2px 5px;
}
footer .foot .foot1 i:hover{
    color: #8393ff;
}




@media(max-width:768px){
    header{
        width: 100%;
        height: auto;
    }
    header .logo{
        margin-left: 30%;
        padding: 20px;
    }
    .checkbtn{
        display: block;
    }

    header .nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #F9F9FF;
        top: 54px;
        left: -200px;
        transition: all .1s;
    }
    header .nav ul li{
        line-height: 30px;
        clear: both;
        margin-top: 15px;
    }
    #check:checked ~ ul{
        left: 0;
    }

    header .nav ul li a{
        font-size: 20px;
        text-align: center;
    }

}